<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="HTML, VueJS, Bootstrap" />
    <meta
      name="description"
      content="HTML Form Validation with VueJS and Bootstrap"
    />
    <meta name="author" content="Le Gia Hoang An" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <title>Form Validation</title>
  </head>
  <body>
    <div class="container">
      <div id="app">
        <h1>VueJS Form Validation</h1>
        <form
          action="http://mercury.swin.edu.au/it000000/formtest.php"
          @submit="checkForm"
          method="post"
          novalidate
        >
          <!-- ERROR MESSAGES -->
          <div v-if="errors.length">
            <p>Please correct the following error(s):</p>
            <ul>
              <li v-for="error in errors">{{ error }}</li>
            </ul>
          </div>
          <!-- FIRST NAME -->
          <div class="mb-3">
            <label for="fName" class="form-label">First Name</label>
            <input
              type="text"
              class="form-control"
              id="fName"
              name="fName"
              v-model="fName"
            />
          </div>
          <!-- LAST NAME -->
          <div class="mb-3">
            <label for="lName" class="form-label">Last Name</label>
            <input
              type="text"
              class="form-control"
              id="lName"
              name="lName"
              v-model="lName"
            />
          </div>
          <!-- USER NAME -->
          <div class="mb-3">
            <label for="uName" class="form-label">Username</label>
            <input
              type="text"
              class="form-control"
              id="uName"
              name="uName"
              v-model="uName"
            />
          </div>
          <!-- PASSWORD -->
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              v-model="password"
            />
          </div>
          <!-- CONFIRM PASSWORD -->
          <div class="mb-3">
            <label for="passConfirm" class="form-label">Confirm Password</label>
            <input
              type="password"
              class="form-control"
              id="passConfirm"
              name="passConfirm"
              v-model="passConfirm"
            />
          </div>
          <!-- EMAIL -->
          <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              v-model="email"
            />
          </div>
          <!-- STREET ADDRESS -->
          <div class="mb-3">
            <label for="address" class="form-label">Street Address</label>
            <input
              type="text"
              class="form-control"
              id="address"
              name="address"
              v-model="address"
            />
          </div>
          <!-- SUBURB -->
          <div class="mb-3">
            <label for="suburb" class="form-label">Suburb</label>
            <input
              type="text"
              class="form-control"
              id="suburb"
              name="suburb"
              v-model="suburb"
            />
          </div>
          <!-- POSTAL CODE -->
          <div class="mb-3">
            <label for="postCode" class="form-label">Postal Code</label>
            <input
              type="text"
              class="form-control"
              id="postCode"
              name="postCode"
              v-model="postCode"
            />
          </div>
          <!-- MOBILE NUMBER -->
          <div class="mb-3">
            <label for="phone" class="form-label">Mobile Number</label>
            <input
              type="text"
              class="form-control"
              id="phone"
              name="phone"
              v-model="phone"
            />
          </div>

          <!-- SUBMIT & TERM OF CONDITIONS -->
          <div class="row gx-5">
            <div class="col-1">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>

            <div class="col-1">
              <button
                type="button"
                class="btn btn-info dropdown-toggle"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Terms and Conditions
              </button>
              <ul class="dropdown-menu w-25 p-3">
                <p>
                  <strong>What is Lorem Ipsum?</strong><br />
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book. It has survived not only five centuries, but
                  also the leap into electronic typesetting, remaining
                  essentially unchanged. It was popularised in the 1960s with
                  the release of Letraset sheets containing Lorem Ipsum
                  passages, and more recently with desktop publishing software
                  like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
                <p>
                  <strong>Why do we use it?</strong><br />
                  It is a long established fact that a reader will be distracted
                  by the readable content of a page when looking at its layout.
                  The point of using Lorem Ipsum is that it has a more-or-less
                  normal distribution of letters, as opposed to using 'Content
                  here, content here', making it look like readable English.
                  Many desktop publishing packages and web page editors now use
                  Lorem Ipsum as their default model text, and a search for
                  'lorem ipsum' will uncover many web sites still in their
                  infancy. Various versions have evolved over the years,
                  sometimes by accident, sometimes on purpose (injected humour
                  and the like).
                </p>
              </ul>
            </div>
          </div>
        </form>
      </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/test.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
