.overlay-effect {
  filter: brightness(35%);
}

.caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

.card-top img {
  height: 500px;
}

.box-400 {
  max-width: 400px;
  margin-top: -50px;
}

.img-resize {
  width: 25em;
  height: 22em;
}

.img-property {
  width: 25em;
  height: 15em;
}

.min-vh-76 {
  min-height: 76vh;
}
